pkgbase = dmenu-royarg-git
	pkgdesc = A modified version of the dynamic menu for X, originally designed for dwm.
	pkgver = 5.1.r2.bd73af3
	pkgrel = 3
	url = https://github.com/RoyARG02/dmenu
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = sh
	depends = libxinerama
	depends = libxft
	provides = dmenu
	conflicts = dmenu
	conflicts = dmenu-git
	source = git+https://github.com/RoyARG02/dmenu.git
	md5sums = SKIP

pkgname = dmenu-royarg-git
